
@for $i from 1 through 12 {
  .card-frame {
    &:nth-child(#{$i}) {
      .flip-card-animation {
        // Delay the transition . Delay increases as items loop.
        animation-delay: #{($i - 1) * 0.07}s;
      }
    }
  }
}
.flip-card-animation {
  animation: rotateFromBack 1s both;
}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  //background-color: transparent;
  //perspective: 1000px; /* Remove this if you don't want the 3D effect */
  transform-style: preserve-3d;
  transform: rotateY(360deg);
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  transform-style: preserve-3d;
}



/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover {
  .flip-card-inner {
    animation: rotate360 0.8s ease both;
    //z-index: 1;
    .flip-card-front {
      animation: no-shadow 0.8s;
    }

  }
}
@keyframes no-shadow {
  to{
    box-shadow: none;
  }
}
  .flip-card-head, .flip-card-tail{
    transform-style: preserve-3d;
  }

  .hidden-back {
    backface-visibility: hidden;

    transform-style: preserve-3d;
    //background-color: white;
    z-index: 1;
    display: inline-block;
  }
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    //background-color: #bbb;
    //color: black;
    //height: 100%;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    z-index: 5;
  }

  /* Style the back side */
  .flip-card-back {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom:0px;
    top: 0;
    width: 100%;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    z-index: -1;
  }


  @keyframes rotate360 {
    0%{
      transform: rotateY(0deg);
    }
    100%{
      transform: rotateY(360deg);
    }
  }

  @keyframes rotateFromBack {
    0%{
      transform: rotateY(180deg);
    }
    100%{
      transform: rotateY(360deg);
    }
  }

  @keyframes disappear {
    0%{
      opacity: 1;
      animation-timing-function: step-end;
      //animation-timing-function: linear;
    }
    100%{
      opacity: 0;
      //animation-timing-function: step-end;
    }
  }


  .rotate{
    animation: rotate360 2s infinite;
  }

